@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&family=Alex+Brush&display=swap');
@import "tailwindcss";

@theme {
  --font-inter: 'Inter', sans-serif;
  --font-cursive: 'Alex Brush', cursive;
} 

.section-title,
.section-description {
  overflow: hidden;
}

.line {
  overflow: hidden;
}

.word {
  display: inline-block;
  transform-origin: bottom;
}






